<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Selenious.Core.Properties.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>

        <!--App URL's-->
        <add key="Dev" value="https://www.saucedemo.com" />

        <!--Timeouts-->
        <add key="longTimeout" value="30" />
        <add key="mediumTimeout" value="10" />
        <add key="shortTimeout" value="3" />
                
        <!--Downloading files-->
        <add key="UseCurrentDirectory" value="true" />
        <add key="DownloadFolder" value="\Downloads" />
        <add key="ScreenShotFolder" value="Results" />

        <!--Screenshots and logging-->
        <add key="FullDesktopScreenShotEnabled" value="false" />
        <add key="SeleniumScreenShotEnabled" value="true" />

    </appSettings>
    <nlog
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
        <targets>
            <target name="logfile" xsi:type="File" fileName="${basedir}\Test.log" layout="${longdate}|${level}|${callsite}|${message}" />
            <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${callsite}|${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="logfile" />
            <logger name="*" minlevel="Debug" writeTo="console" />
        </rules>
    </nlog>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Selenious.Core.Properties.TestSettings>
            <setting name="Env" serializeAs="String">
                <value>Dev</value>
            </setting>
        </Selenious.Core.Properties.TestSettings>
    </userSettings>
</configuration>